# Manipulación de datos
pandas
numpy
tqdm

# Modelos de clasificación clásicos
scikit-learn

# Boosting avanzado (por si decides experimentar)
lightgbm
catboost

# Guardado de modelos
joblib

# Visualización y métricas (opcional pero recomendable)
matplotlib
seaborn
scipy

# Preprocesamiento y balanceo
imbalanced-learn

# Optimización de modelos
optuna

# Cobertura de código
gcovr

# Extracción de PDFs / XML (Equifax)
pdfplumber
lxml
pillow
pytesseract
pdf2image