.dashboard {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ddd;
}

.resultado {
  text-align: center;
}

.rojo {
  color: #dc3545;
}
