<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Administrador</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets2/img/favicon.png" rel="icon">
  <link href="assets2/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Optionally, you can include Popper.js for tooltips and popovers 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>-->
  <!-- Bootstrap JS 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>-->
  
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


</head>

  <body>
    <div class="contentenedor-principal">
      <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/Administrador">
      <img src="assets/img/hero-imsg.png" height="50px" width="auto">
    </a>
    <a href="/Administrador" class="logo d-flex align-items-center">
      <span class="d-none d-lg-block">Tufinanciera</span>
    </a>
    <!--</i><i class="bi bi-list toggle-sidebar-btn"></i>-->
    
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" (click)="toggleMenu('profile', $event)"role="button">
          <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{ dato?.nombre }}</span>
        </a>
        <!-- End Profile Image Icon -->
      
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"  *ngIf="menus['profile']" style="right: 15px !important; top: 45px !important;">
          <li class="dropdown-header">
            <h6>{{ dato?.usuario?.nombre }}</h6>
            <span>Administrador</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li *ngIf="authService.isAuthenticated()">
            <a  (click)="logout()"class="dropdown-item d-flex align-items-center" role="button">
              <i class="bi bi-box-arrow-right"></i>
              <span>Cerrar Sesión</span>
            </a>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" [class.collapsed]="sidebarCollapsed">

  <ul class="sidebar-nav" id="sidebar-nav">
    
    <li class="nav-item">
      <a class="nav-link " [ngClass]="{'collapsed': collapsed}" href="/Administrador">        <i class="bi bi-grid"></i>
        <span>Panel Principal</span>
      </a>
    </li><!-- End Dashboard Nav -->
  
    <li class="nav-item">
      <a class="nav-link" 
      [ngClass]="{'collapsed': !menus['gestion']}" 
      (click)="toggleMenu('gestion', $event)">
     <i class="bi bi-menu-button-wide"></i>
     <span>Gestión</span>
     <i class="bi bi-chevron-down ms-auto"></i>
      </a>
    <ul id="components-nav" 
      class="nav-content collapse" 
      [ngClass]="{'show': menus['gestion']}" 
      data-bs-parent="#sidebar-nav">
            <li>
              <a href="" (click)="SeccionUsuarios($event)" [ngClass]="{'active': activeSection === 'Usuarios'}">
                <i class="bi bi-circle"></i><span>Usuarios</span>
              </a>
            </li>
            <li>
              <a href=""(click)="SeccionRoles($event)" [ngClass]="{'active': activeSection === 'Roles'}">
                <i class="bi bi-circle"></i><span>Roles</span>
              </a>
            </li>
            <li>
              <a href="" (click)="SeccionModelos($event)" [ngClass]="{'active': activeSection === 'Modelos'}">
                <i class="bi bi-circle"></i><span>Modelos</span>
              </a>
            </li>
            <li>
              <a href="" (click)="SeccionDataset($event)" [ngClass]="{'active': activeSection === 'Datasets'}">
                <i class="bi bi-circle"></i><span>Datasets</span>
              </a>
            </li>
            
            <!--
            <li>
              <a href="" (click)="SeccionReglas($event)" [ngClass]="{'active': activeSection === 'Reglas'}">
                <i class="bi bi-circle"></i><span>Reglas del Negocio</span>
              </a>
            </li>
            -->

            <!-- <li>
              <a href="" >
                <i class="bi bi-circle"></i><span>Negocios</span>
              </a>
            </li>
            <li >
              <a href="" >
                <i class="bi bi-circle"></i><span>Administradores</span>
              </a>
            </li> -->
    </ul>
    </li>
    <li class="nav-heading">Páginas</li>

    <li class="nav-item">
      <a class="nav-link"[ngClass]="{'collapsed': activeMenu !== 'entrenamiento'}" href="" (click)="SeccionEntrenamiento($event)">        
        <i class="bi bi-gear-fill"></i>
        <span>Entrenamiento</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"[ngClass]="{'collapsed': activeMenu !== 'modeloIa'}" href="" (click)="SeccionModeloIa($event)">        
        <i class="bi bi-cpu-fill"></i>
        <span>Modelos Entrenados</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"[ngClass]="{'collapsed': activeMenu !== 'clasificar'}" href="" (click)="SeccionClasificar($event)">        
        <i class="bi-bar-chart-fill"></i>
        <span>Clasificar</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"[ngClass]="{'collapsed': activeMenu !== 'logs'}" href="" (click)="SeccionLogs($event)">        
        <i class="bi-journal-check"></i>
        <span>Actividades del Sistemas</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"[ngClass]="{'collapsed': activeMenu !== 'profile'}" href="" (click)="SeccionPerfil($event)">        <i class="bi bi-person"></i>
        <span>Perfil</span>
      </a>
    </li><!-- End Profile Page Nav -->
  </ul>
  

</aside><!-- End Sidebar-->
<main id="main" class="main" [class.toggle-sidebar]="sidebarCollapsed">
  <div *ngIf="seccion === '1'">
    <div class="pagetitle">
      <h1>Panel Principal</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Administrador">Home</a></li>
          <li class="breadcrumb-item active">Administración - {{ dato?.nombre }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

  <!-- cards.component.html -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 p-2">
    <div class="bg-blue-100 text-blue-800 p-2 rounded-md shadow flex items-center justify-between">
      <div>
        <h2 class="text-sm font-semibold">Datasets</h2>
        <p class="text-lg font-bold">{{ totalDatasets }}</p>
      </div>
      <img src="assets/img/dataset.png" class="w-6 h-6 animate-bounce" alt="datasets" />
    </div>

    <div class="bg-purple-100 text-purple-800 p-2 rounded-md shadow flex items-center justify-between">
      <div>
        <h2 class="text-sm font-semibold">Modelos IA</h2>
        <p class="text-lg font-bold">{{ totalModelosIA }}</p>
      </div>
      <img src="assets/img/brain.png" class="w-6 h-6 animate-pulse" alt="modelos IA" />
    </div>

    <div class="bg-green-100 text-green-800 p-2 rounded-md shadow flex items-center justify-between">
      <div>
        <h2 class="text-sm font-semibold">Modelos Entrenados</h2>
        <p class="text-lg font-bold">{{ totalModelosEntrenados }}</p>
      </div>
      <img src="assets/img/settings.png" class="w-6 h-6 animate-spin-slow" alt="entrenados" />
    </div>
  </div>


  <!-- charts.component.html -->
  <div class="flex flex-nowrap overflow-x-auto gap-3 p-3 justify-start items-start">
    <!-- Gráfico de barras -->
    <div class="bg-white p-4 rounded-xl shadow w-full md:w-[48%]">
      <h3 class="font-semibold mb-2 text-center">Top 5 Modelos (Barras)</h3>
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="true"
        [type]="'bar'"
        (chartClick)="onBarClick($event)">
      </canvas>
    </div>

    <!-- Gráfico de radar -->
    <div class="bg-white p-3 rounded-xl shadow w-full md:w-[48%]">
      <h3 class="font-semibold mb-2 text-center">Métricas por Modelo (Radar)</h3>
      <canvas baseChart
        [datasets]="radarChartData"
        [labels]="radarChartLabels"
        [options]="radarChartOptions"
        [legend]="true"
        [type]="'radar'">
      </canvas>
    </div>
  </div>
 

  </div>
  <div *ngIf="seccion === '2'">
    <app-ges-usuarios></app-ges-usuarios>
  </div>
  <div *ngIf="seccion === '3'">
    <app-ges-roles></app-ges-roles>
  </div>
  <div *ngIf="seccion === '4'">
    <app-ges-modelos></app-ges-modelos>
  </div>
  <div *ngIf="seccion === '5'">
    <app-ges-datasets></app-ges-datasets>
  </div>
  <div *ngIf="seccion === '6'">
    <app-ges-reglas-negocio></app-ges-reglas-negocio>
  </div>
  <div *ngIf="seccion === '7'">
    <app-entrenamiento></app-entrenamiento>
  </div>
    <div *ngIf="seccion === '8'">
    <app-modelos-ia></app-modelos-ia>
  </div>
    <div *ngIf="seccion === '9'">
    <app-clasificar></app-clasificar>
  </div>
  <div *ngIf="seccion === '10'">
    <app-perfil-admin></app-perfil-admin>
  </div>
   <div *ngIf="seccion === '11'">
    <app-actividades></app-actividades>
  </div>
  <footer class="footer">
    <span style="color: rgb(0, 0, 0)">Titulacion  &copy;  2025</span>
  </footer>
  </main><!-- End #main -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </div>
  </body>
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</html>
